<!DOCTYPE html>
{% load static %}
<html>
	{% include 'blog/_head.html' %}
	<body id="single">
		{% include 'blog/_navigation.html' %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">{{ article.title }}</h1>
								<div class="entry-meta">
									{% if article.category %}
									<span class="post-category"><a href="{% url 'category' article.category.id %}">{{ article.category.name }}</a></span>
									{% endif %}
									<span class="post-date"><a><time class="entry-date">{{ article.created_time }}</time></a></span>
			
									<span class="post-author"><a href="{% url 'author' article.author %}">{{ article.author }}</a></span>
			
									<span class="comments-link"><a>{{ comment_list|length }} Comments</a></span>
								</div>
								<div class="entry-meta widget-tag-cloud">
									{% for tag in article_tags %}
									<ul>
										<li class="comments-link"><a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></li>
									</ul>
									{% endfor %}
								</div>
							</header>
							<div class="entry-content clearfix">
								{{ article.body | safe }}
							</div>
						</article>
						<section class="post comment-area" id="comment-area">
							<hr>
							<h4>发表评论</h4>
							<br>
							<form action="{% url 'comment' article.pk %}" method="post" class="form-horizontal comment-form">
								{% csrf_token %}
								<div class="form-group">
									<label for="id_name" class="col-sm-2 control-label">名字：</label>
									<div class="col-md-4">
										{{ form.user_name }}
									</div>
									<label for="id_email" class="col-sm-2 control-label">邮箱：</label>
									<div class="col-md-4">
										{{ form.user_email }}
									</div>
								</div>
								<div class="form-group">
									<label for="id_text" class="col-sm-2 control-label">评论：</label>
									<div class="col-md-10">
										{{ form.body }}
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
      									<button type="submit" class="btn btn-default">提交</button>
									</div>
								</div>
							</form>

							<div class="comment-list-panel post">
								<h4>评论列表，共 <span>{{ comment_list|length }}</span> 条评论</h4>
								<ul class="comment-list list-unstyled">
									{% for comment in comment_list %}
									<li class="comment-item">
										<span class="nickname">{{ comment.user_name }}</span>
										<time class="submit-date">{{ comment.created_time }}</time>
										<div class="text">{{ comment.body }}</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</section>
					</main>
					{% include 'blog/_sidebar.html' %}
				</div>
			</div>
		</div>
		{% include 'blog/_footer.html' %}

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="{% static 'blog/js/script.js' %}"></script>

	</body>
</html>
