<!DOCTYPE html>
{% load static %}
{% load paginate_tags %}
<html>
	{% include '_head.html' %}
	<body>
		{% include '_navigation.html' %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post">
							<header class="entry-header">
								{% if article_list %}
								{% paginate article_list 5 %}
								{% for article in article_list %}

								<h1 class="entry-title">
									<a href="{% url 'detail' article.pk %}">{{ article.title }}</a>
								</h1>
								<div class="entry-meta">
									{% if article.category %}
										<span class="post-category"><a href="{% url 'category' article.category.id %}">{{ article.category.name }}</a></span>
									{% endif %}
									<span class="post-date"><a href="#"><time class="entry-date">{{ article.created_time |date:"Y年n月d日" }}</time></a></span>
									<span class="post-author"><a href="#">{{ article.author }}</a></span>
									<span class="comments-link"><a href="#">{{ article.blogcomment_set.all|length }}评论</a></span>
									<span class="views-count"><a href="#">{{ article.views }}阅读</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>{{ article.abstract }}</p>
							</div>
							{% endfor %}
							{% else %}
							<h1 class="entry-title">没有内容可显示</h1>
							{% endif %}
							<nav style="text-align: left">
								{% include '_pagination.html' %}
							</nav>
						</article>
					</main>
					{% include '_sidebar.html' %}
				</div>
			</div>
		</div>
		{% include '_footer.html' %}

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="{% static 'blog/js/script.js' %}"></script>

	</body>
</html>